@font-face {
  font-family:"madeon-imperial";
  src:url(https://n3tfox.github.io/madeon-font/ImperialBlackRegular.ttf);
}
* {
  font-family:"madeon-imperial"!important;
}
mail.google.com###\:99 > div > table {
  font-family:"madeon-imperial"!important;
}
* * {
  font-familt:"madeon-imperial"!important;
}
