@font-face {
  font-family:"madeon-imperial";
  src:url(https://n3tfox.github.io/madeon-font/ImperialBlackRegular.ttf);
}
* {
  font-family:"madeon-imperial"!important;
}
table, div, a, p, h1, h2, h3, h4, h5, h6, span, section, td, tr, th {
  font-family:"madeon-imperial"!important;
}
* * {
  font-family:"madeon-imperial"!important;
}

* * *{
  font-family:"madeon-imperial"!important;
}

* > *{
  font-family:"madeon-imperial"!important;
}

* * * *{
  font-family:"madeon-imperial"!important;
}

* * * * * {
  font-family:"madeon-imperial"!important;
}

body {
  font-family:"madeon-imperial"!important;
}
