@font-face {
  font-family:"madeon-imperial";
  src:url(https://n3tfox.github.io/madeon-font/ImperialBlackRegular.ttf);
}
* {
  font-family:"madeon-imperial"!important;
}
* > div > table {
  font-family:"madeon-imperial"!important;
}
* * {
  font-family:"madeon-imperial"!important;
}

* * *{
  font-family:"madeon-imperial"!important;
}

* > *{
  font-family:"madeon-imperial"!important;
}

* * * *{
  font-family:"madeon-imperial"!important;
}

* * * * * {
  font-family:"madeon-imperial"!important;
}

body {
  font-family:"madeon-imperial"!important;
}
